<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.xia.mybatisplus.generator.mybatis.dao.HkEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployee">
    <constructor>
      <idArg column="hkId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="hkName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="hkStageName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hkId, hkName, hkStageName
  </sql>
  <select id="selectByExample" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hk_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hk_employee
    where hkId = #{hkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hk_employee
    where hkId = #{hkid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployeeExample">
    delete from hk_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployee">
    insert into hk_employee (hkId, hkName, hkStageName
      )
    values (#{hkid,jdbcType=INTEGER}, #{hkname,jdbcType=VARCHAR}, #{hkstagename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployee">
    insert into hk_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hkid != null">
        hkId,
      </if>
      <if test="hkname != null">
        hkName,
      </if>
      <if test="hkstagename != null">
        hkStageName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hkid != null">
        #{hkid,jdbcType=INTEGER},
      </if>
      <if test="hkname != null">
        #{hkname,jdbcType=VARCHAR},
      </if>
      <if test="hkstagename != null">
        #{hkstagename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployeeExample" resultType="java.lang.Long">
    select count(*) from hk_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hk_employee
    <set>
      <if test="record.hkid != null">
        hkId = #{record.hkid,jdbcType=INTEGER},
      </if>
      <if test="record.hkname != null">
        hkName = #{record.hkname,jdbcType=VARCHAR},
      </if>
      <if test="record.hkstagename != null">
        hkStageName = #{record.hkstagename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hk_employee
    set hkId = #{record.hkid,jdbcType=INTEGER},
      hkName = #{record.hkname,jdbcType=VARCHAR},
      hkStageName = #{record.hkstagename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployee">
    update hk_employee
    <set>
      <if test="hkname != null">
        hkName = #{hkname,jdbcType=VARCHAR},
      </if>
      <if test="hkstagename != null">
        hkStageName = #{hkstagename,jdbcType=VARCHAR},
      </if>
    </set>
    where hkId = #{hkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hk.xia.mybatisplus.generator.mybatis.pojo.HkEmployee">
    update hk_employee
    set hkName = #{hkname,jdbcType=VARCHAR},
      hkStageName = #{hkstagename,jdbcType=VARCHAR}
    where hkId = #{hkid,jdbcType=INTEGER}
  </update>
</mapper>