<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--全配置场景-->
            <!--<param-value>classpath:/springmvc-context.xml</param-value>-->
            <!--注解配置场景-->
            <param-value>classpath:/springmvc-annotation.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--测试@PostConstruct和@PreDestroy注解的Servlet-->
    <servlet>
        <servlet-name>constructServlet</servlet-name>
        <servlet-class>com.hk.xia.spring.servlet.ConstructServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>constructServlet</servlet-name>
        <url-pattern>/construct</url-pattern>
    </servlet-mapping>

</web-app>